footer{
	background-color: #006AB4;
	width: 1440px;
	height: 603px;
}

.navifooter:first-child{
	margin-left: 80px;
}

.navifooter{
	position: relative;
	display: inline-block;
	width: 96px;
	height: 25px;
	margin-left: 15px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.72);
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.02em;
	cursor: pointer;
}

.navifooter a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.72);
}

.navifooter:nth-child(3),.navifooter:nth-child(4){
	width: 59px;
}

.navifooter:hover{
	color: #FFFFFF
}
.navifooter:active{
	color: #FECF22;
 }

 .navifooter a:hover{
	color: #FFFFFF
}
.navifooter a:active{
	color: #FECF22;
 }

.newsletter{
	float: right;
	position: relative;
}

.newsletter h4{
	margin-left: 1px;
}

.newsletter input[type=text]#new_search{
	margin-top: 8px;
	width: 414px;
	height: 47px;
	background: #FFFFFF;
	border-radius: 8px;
	border: none;
  	color: #000000;
  	font-size: 17px;
  	padding-left: 15px;
}

#new_search_arrow{
	position: relative;
	top: 18px;
	left: -99px;
	width: 22px;
	height: 14px;
	padding: 16px 37px 17px 37px;
	border-radius: 0px 8px 8px 0px;
	background: #FECF22;
	cursor: pointer;
}

#new_search_arrow:active{
	background-color: #DFB001;
}

.company{
	float: left;
	clear: both;
	margin-left: 80px;
}

.company_address{
	width: 392px;
	float: left;
	margin-left: 15px;
	margin-top: 120px;
}

.company_address:nth-child(1){
	margin-left: 0;
	width: 405px;
}

div.company_address p{
	color: rgba(255, 255, 255, 0.72);
	margin-top: 10px;
}

div.company_address h4{
	color: rgba(255, 255, 255, 0.94);
}

.awards img{
	height: 70px;
	margin-left: 80px;
}

.socmed{
	position: relative;
	left: 900px;
}

.socmed img{
	width: 59px;
}

.socmed a:nth-child(2),.socmed a:nth-child(3),.socmed a:nth-child(4){
	margin-left: 15px;
}

.copyright{
	background-color: #10507D;
	width: 100%;
}

#copyright_words{
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.015em;
	color: rgba(255, 255, 255, 0.6);
	width: 100%;
	padding-top: 20px;
	padding-bottom: 21px;
}