*{
	margin: 0;
	padding: 0;
	font-family: 'Heebo', sans-serif;
}

body{
	overflow-x: hidden;
}

.parent{
	width: 100%;
	margin: 0;
	padding: 0;
}

main{
	margin: 0;
	margin-top: 96px;
	width: 1440px;
}

button{ 
	border: none; 
	background-color: Transparent;
    background-repeat: no-repeat;
}

h1{
	font-weight: 600;
	color: rgba(0, 0, 0, 0.9);
	font-size: 40px;
	line-height: 59px;
	letter-spacing: 0.02em;
}

h2{
	font-weight: 500;
	color: rgba(0, 0, 0, 0.9);
	font-size: 40px;
	line-height: 48px;
	letter-spacing: 0.02em;
}

h3{
	font-weight: 500;
	color: rgba(0, 0, 0, 0.9);
	font-size: 27px;
	line-height: 40px;
	letter-spacing: 0.02em;
}

h4{
	font-weight: 700;
	color: rgba(255, 255, 255, 0.94);
	font-size: 24px;
	line-height: 35px;
	letter-spacing: 0.02em;
}

p{
	font-weight: 300;
	color: #696969;
	font-size: 17px;
	line-height: 25px;
	letter-spacing: 0.02em;
}

nav{
	position: fixed;
	top: 0;
	height: 96px;
	width: 100%;
	z-index: 6;
}

#contact{
	margin-right: 63px;
	width: 100%;
	height: 30px;
	background-color: #81BEE8;
}

#contact div{
	float: right;
}

#contact p{
	line-height: 17.63px;
	float: left;
	font-size: 12px;
	letter-spacing: 2%;
	font-weight: 400;
	color: #393E55;
	margin-top: 6px;
	margin-right: 80px;
	display: inline-block;
	margin-left: 15px;
}

#contact img{
	float: left;
}

#phone{
	width: 14px;
	padding: 4px;
	margin-top: 3px;
}

#email{
	width: 22px;
	margin-top: 7px;
}

#navigation{
	height: 66px;
	background-color: #006AB4;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

#navigation img#logo{
	height: 66px;
	margin-left: 80px;
	float: left;
}

#navigation div{
	position: relative;
	top: 4px;
	margin-left: 260px;
}

#navigation div div.menu a{
	height: 20px;
	text-align: center;
	color: #ffffff;
	font-size: 17px;
	font-weight: 400px;
	float: left;
	text-decoration: none;
	margin-left: 15px;
	width: 96px;
}

#navigation div div.menu span, div.square_waralaba span, div.square_mitra span, div.square_korporat span{
	height: 20px;
	text-align: center;
	color: #ffffff;
	font-size: 17px;
	font-weight: 400px;
	float: left;
	text-decoration: none;
	margin-left: 15px;
	width: 96px;
}

div#karir, #karir a{
	cursor: pointer;
}

#navigation div div.menu, div.square_waralaba span{
	position: absolute;
	top: 19px;
	left: 19px;
}

div.square_mitra span{
	position: absolute;
	top: 19px;
	left: -14px;
}

div.square_korporat span{
	position: absolute;
	top: 19px;
	left: -2px;
}

#navigation div div.menu{
	position: relative;
}

#navigation div span img{
	position: absolute;
    top: 11px;
    height: 3.8px;
    margin-left: 6px;
}

#navigation div div a.current{
	font-weight: 700;
	text-decoration: underline;
}

.menu_dropdown_waralaba{
	display: none;
	width: 207px;
	height: auto;
}

#waralaba:hover .menu_dropdown_waralaba{
	display: block;
	position: absolute;
	top: 30px;
	left: -443px;
}

.square_waralaba,.square_mitra,.square_korporat{
	display: none;
	background-color: #FECF22;
	border-radius: 22px 22px 0px 0px;
	width: 170px;
	height: 54px;
}

.square_mitra,.square_korporat{
	width: 133px;
}

#waralaba:hover .square_waralaba{
	display: block;
	position: absolute;
	top: -20px;
	left: -183px;
}

div.menu_drop{
	width: 163px;
	padding: 8px 22px 7px 22px;
	background-color: #ffffff;
	color: #10507D;
	font-weight: 400;
	font-size: 17px;
	cursor: pointer;
}

div.menu_drop hr{
	border-top: 0.75px solid rgba(0, 0, 0, 0.08);
	position: relative;
	top: 7px;
}

div.menu_drop:hover{
	background-color: #FECF22;
	color: #ffffff;
}

div.menu_drop:active{
	background-color: #DFB001;
	color: #ffffff;
}

div.menu_drop:first-child{
	padding: 0;
	height: 20px;
	width: 207px;
	border-bottom: none;
}

div.menu_drop:last-child{
	padding: 0;
	height: 23px;
	width: 207px;
	border-bottom: none;
}

div.menu_drop:first-child:hover{
	background-color: #ffffff;
}

div.menu_drop:first-child:active{
	background-color: #ffffff;
}

div.menu_drop:last-child:hover{
	background-color: #ffffff;
}

div.menu_drop:last-child:active{
	background-color: #ffffff;
}

.menu_dropdown_mitra{
	display: none;
}

#mitra:hover .menu_dropdown_mitra{
	display: block;
	position: absolute;
	top: 30px;
	left: -300px;
}

#mitra:hover .square_mitra{
	display: block;
	position: absolute;
	top: -20px;
	left: -40px;
}

.menu_dropdown_korporat{
	display: none;

}

#korporat:hover .menu_dropdown_korporat{
	display: block;
	position: absolute;
	top: 30px;
	left: -89px;
}

#korporat:hover .square_korporat{
	display: block;
	position: absolute;
	top: -20px;
	left: 171px;
}

#search_container{
	position: relative;
	float: right;
	width: 207px;
  	height: 35px;
  	margin-right: 92px;
  	top: -50px;
}

#search_container input[type=text] {
  	width: 207px;
  	height: 35px;
  	padding-left: 15px;
  	border: none;
  	border-radius: 18.5px;
  	color: #000000;
  	font-size: 17px;
}

#search{
  	padding: 6px 22px;
 	top: 70px;
 	width: 15px;
  	border: none;
  	cursor: pointer;
  	position: absolute;
  	left: 165px;
  	top: 3px;
}

footer{
	background-color: #006AB4;
	width: 1440px;
	height: 603px;
}

.navifooter:first-child{
	margin-left: 80px;
}

.navifooter{
	position: relative;
	display: inline-block;
	width: 96px;
	height: 25px;
	margin-left: 15px;
	font-weight: 400px;
	color: rgba(255, 255, 255, 0.72);
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.02em;
	cursor: pointer;
}

.navifooter:hover{
	color: #FFFFFF
}
.navifooter:active{
	color: #FECF22;
 }

.newsletter{
	float: right;
	position: relative;
}

.newsletter h4{
	margin-left: 1px;
}

.newsletter input[type=text]#new_search{
	margin-top: 8px;
	width: 414px;
	height: 47px;
	background: #FFFFFF;
	border-radius: 8px;
  	color: #000000;
  	font-size: 17px;
  	padding-left: 15px;
}

#new_search_arrow{
	position: relative;
	top: 18px;
	left: -101px;
	width: 22px;
	height: 14px;
	padding: 16px 37px 17px 37px;
	border-radius: 0px 8px 8px 0px;
	background: #FECF22;
	cursor: pointer;
}

.company{
	float: left;
	clear: both;
	margin-left: 80px;
}

.company_address{
	width: 392px;
	float: left;
	margin-left: 15px;
	margin-top: 120px;
}

.company_address:nth-child(1){
	margin-left: 0;
	width: 405px;
}

div.company_address p{
	color: rgba(255, 255, 255, 0.72);
	margin-top: 10px;
}

div.company_address h4{
	color: rgba(255, 255, 255, 0.94);
}

.awards img{
	height: 70px;
	margin-left: 80px;
}

.socmed{
	position: relative;
	left: 900px;
}

.socmed img{
	width: 59px;
}

.socmed a:nth-child(2),.socmed a:nth-child(3),.socmed a:nth-child(4){
	margin-left: 15px;
}

.copyright{
	background-color: #10507D;
	width: 100%;
}

#copyright_words{
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.015em;
	color: rgba(255, 255, 255, 0.6);
	width: 100%;
	padding-top: 20px;
	padding-bottom: 21px;
}

#pelayanan{
	position: fixed;
	right: 100px;
	bottom: 80px;
	z-index: 5;
	cursor: pointer;
}

#pelayanan .circle{
	background-color: #FECF22;
	border-radius: 50%;
	display: inline-block; 
	height: 96px;
	width: 96px;
	position: absolute;
}

#pelayanan .circle:nth-child(1){
	top: -17px;
	left: 111px;
	z-index: 2;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

#pelayanan .circle:nth-child(2){
	top: -17px;
	left: 111px;
	z-index: 4;
	display: inline-block; 
}

#pelayanan span#rectangle{
	display: inline-block;
	z-index: 3;
	position: relative;
	border-radius: 12px;
	right: 3px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	height: 66px;
	width: 185px;
}

#pelayanan span img{
	width: 52px;
	padding-top: 6.9px;
	padding-bottom: 6.9px;
	margin-top: 23px;
}

#pelayanan span span{
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 2%;
	width: 87px;
	position: absolute;
	left: 20px;
	top: 8px;
}

#active_pelayanan{
	display: none;
}

#pelayanan:active #active_pelayanan{
	display: block;
	position: absolute;
	left: 22px;
	top: 0px;
}

#pelayanan:active .circle{
	background-color: #ffffff;
}

#pelayanan:active span#rectangle{
	background-color: #FECF22;
}

#pelayanan:active #rectangle_text{
	color: #ffffff;
}











