@import 'navigation.css';
@import 'footer.css';
@import 'pelayananpelanggan.css';

*{
	margin: 0;
	padding: 0;
	font-family: 'Heebo', sans-serif;
}

body{
	overflow-x: hidden;
}

.parent{
	width: 100%;
	margin: 0;
	padding: 0;
}

main{
	margin: 0;
	margin-top: 96px;
	width: 1440px;
}

button{ 
	border: none; 
	background-color: Transparent;
    background-repeat: no-repeat;
}

h1{
	font-weight: 600;
	color: rgba(0, 0, 0, 0.9);
	font-size: 40px;
	line-height: 59px;
	letter-spacing: 0.02em;
}

h2{
	font-weight: 500;
	color: rgba(0, 0, 0, 0.9);
	font-size: 40px;
	line-height: 48px;
	letter-spacing: 0.02em;
}

h3{
	font-weight: 500;
	color: rgba(0, 0, 0, 0.9);
	font-size: 27px;
	line-height: 40px;
	letter-spacing: 0.02em;
}

h4{
	font-weight: 600;
	color: rgba(255, 255, 255, 0.94);
	font-size: 24px;
	line-height: 35px;
	letter-spacing: 0.02em;
}

p{
	font-weight: 200;
	color: #696969;
	font-size: 17px;
	line-height: 25px;
	letter-spacing: 0.02em;
}










